*/__pycache__
*.pyc

.vscode
.idea
test_pipline
dataset

checkpoints
dataset_preprocess/leap.log
dataset_preprocess/mdinfo
webapp/static/rxn_fig/*
webapp/static/pdb_cache/*

*.zip
*logs

webapp/test
webapp/gif

webapp/mysql_config.json
!webapp/static/input_example/one_example.zip
script/*
!script/baseline_methods
!script/esmfold_inference.py
!script/inference_and_visualization_for_rfdiffusion_gen_bin.ipynb
!script/inference_and_visualization.ipynb
webapp/database.md
foldseek_bin
script/baseline_methods/sitemap_workspace
script/baseline_methods/deepfri_workspace
results
script/baseline_methods/baseline_results
script/easifa_inference_from_aa_sequence/esmfold_pdb
!script/easifa_inference_from_aa_sequence
script/easifa_inference_from_aa_sequence/leap.log
script/easifa_inference_from_aa_sequence/mdinfo
script/easifa_inference_from_aa_sequence/esmfold_optimzed_pdb
!script/scoring_results.ipynb
!script/TIM_barrel_study/tim_barrel_study.ipynb
!script/TIM_barrel_study/tim_barrel_detect.py
!dataset/ec_site_dataset/uniprot_ecreact_cluster_split_merge_dataset_limit_100/test_dataset_with_similarity_idx.csv
