*/__pycache__
*.pyc

.vscode
.idea
test_pipline
dataset

checkpoints
dataset_preprocess/leap.log
dataset_preprocess/mdinfo
webapp/static/rxn_fig/*
webapp/static/pdb_cache/*

*.zip
*logs

webapp/test
webapp/gif

webapp/mysql_config.json
!webapp/static/input_example/one_example.zip
script/*
!script/baseline_methods
!script/esmfold_inference.py
!script/inference_and_visualization_for_rfdiffusion_gen_bin.ipynb
!script/inference_and_visualization.ipynb
webapp/database.md