*/__pycache__
*.pyc

.vscode
.idea
test_pipline
dataset

checkpoints
dataset_preprocess/leap.log
dataset_preprocess/mdinfo
webapp/static/rxn_fig/*
webapp/static/pdb_cache/*

*.zip
*logs

webapp/test
webapp/gif

webapp/mysql_config.json
!webapp/static/input_example/one_example.zip



foldseek_bin
script/baseline_methods/sitemap_workspace
script/baseline_methods/deepfri_workspace
results
script/baseline_methods/baseline_results
script/easifa_inference_from_aa_sequence/esmfold_pdb

script/easifa_inference_from_aa_sequence/leap.log
script/easifa_inference_from_aa_sequence/mdinfo
script/easifa_inference_from_aa_sequence/esmfold_optimzed_pdb

script/*
!script/rfdiffusion_case_study_script/
script/rfdiffusion_case_study_script/*
!script/rfdiffusion_case_study_script/similarity_index_calculate_for_rfdiffusion_case.ipynb
!script/TIM_barrel_study/
script/TIM_barrel_study/*
!dataset/ec_site_dataset/uniprot_ecreact_cluster_split_merge_dataset_limit_100/test_dataset_with_similarity_idx.csv
!dataset/mcsa_fine_tune/normal_mcsa/test_dataset_with_similarity_idx.csv
!script/easifa_inference_from_aa_sequence
!script/scoring_results.ipynb
!script/TIM_barrel_study/tim_barrel_study.ipynb
!script/TIM_barrel_study/tim_barrel_detect.py

!script/baseline_methods
!script/esmfold_inference.py
!script/inference_and_visualization_for_rfdiffusion_gen_bin.ipynb
!script/inference_and_visualization.ipynb

!script/pseudo_enzyme_study/
script/pseudo_enzyme_study/*
!script/pseudo_enzyme_study/pseudoenzyme_study.ipynb
!script/pseudo_enzyme_study/scoring_results.csv
!script/pseudo_enzyme_study/score.pkl
webapp/database_docker.md
webapp/docker-compose.yml
webapp/easifa.sql
*copy*