<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>EasIFA</title>
	<meta charset="utf-8">
	<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/assets/css/main.css">
	<link rel="shortcut icon" href="/static/images/favicon.ico">
</head>

<body>

	<!-- Header -->
	<header id="header">
		<div class="inner">
			<a href="/" class="logo">EasIFA</a>
            <nav id="nav"><a href="/">Home</a>
                <a href="/from_structure">From Structure</a>
                <a href="/from_uniprot">From UniProt</a>
            </nav>
			<!-- <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a> -->
		</div>
	</header><!-- Banner -->
	<section id="banner">
		<h1>Welcome Use EasIFA</h1>
		<p>Using Information Fusion Model to Annotate Enzyme Catalytic Active Site</p>
	</section><!-- One -->
	<section id="one" class="wrapper">
		<div class="inner">
			<div class="flex flex-2">
				<article>
					<header>
						<h3>Prediction Enzyme Active Site<br> From Structure</h3>
					</header>
					<p style="text-align: justify;">Provide the structure of the enzyme you are interested in as well as the catalytic reaction equation it facilitates. EasIFA can annotate the catalytic active amino acid residues in the enzyme for you.<br><br></p>
					<div style="text-align: center;">
						<a href="/from_structure" class="button special" style="border-radius: 8px; margin: 40px;">From
							Structure</a>
					</div>

				</article>
				<article>
					<header>
						<h3>Prediction Enzyme Active Site<br> From UniProt</h3>
					</header>
					<p style="text-align: justify;">Provide the UniProt ID of the enzyme you are interested in, and EasIFA can automatically retrieve the enzyme's structure as well as the chemical reaction equation it catalyzes, marking the catalytic active amino acid residues in the enzyme for you.</p>
					<div style="text-align: center;">
						<a href="/from_uniprot" class="button special" style="border-radius: 8px; margin: 40px;">From
							UniProt</a>
					</div>

			</div>
	</section>


	<!-- Scripts -->
	<script src="static/assets/js/skel.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>
</body>

</html>